*{
    margin: 0;
    padding: 0;
}

.left, .right{
    display: flex;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
}
.main{
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: calc(100vw - 40vw);
}
h1{
    font-weight: 750;
    font-size: 64px;
    font-family: Inter, Inter, sans-serif, Inter, sans-serif;
}
h3{
    font-weight: 400;
    font-size: 20px;
    font-family: Inter, Inter, sans-serif, Inter, sans-serif;
}
.hero{
    max-width: 550px;
}
.subhero{
    max-width: 600px;
    margin-top: -10px;
}
.main img{
    width: 15vw;
}
body{
    text-align: center;
    color: white;
    display: flex;
    gap: 5px;
    background-color: black;
}
img{
    width: 90%;
    border-radius: 6px;
    margin: 10px;
}
.up_scroll{
    height: 100%;
    width: 15vw;
}
.down_scroll{
    height: 100%;
    width: 15vw;
}
.scroller{
    width: 100%;
    display: block;
    animation: scroll-up 25s linear infinite;
}
.u-scroller{
    width: 100%;
    display: block;
    animation: scroll-down 25s linear infinite;
}
.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.join_button{
    background-color: rgb(176 72 255 / var(--tw-bg-opacity, 1));
}
.over_btn,.join_button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 24px;
    width: 140px;
    font-family: Inter, Inter, sans-serif, Inter, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    height: 20px;
    color: white;
    text-decoration: none;
}
.over_btn{
    border: 2px solid white;
}
.over_btn:hover,.join_button:hover{
    font-size: larger;
}
.join_button:hover{
    background-color: rgb(147 51 234 / var(--tw-bg-opacity, 1));
}
@keyframes scroll-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}
@keyframes scroll-down {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }

}
